* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px -1px 10px 10px;
}

.row {
	display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;	
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}



.cards {
    display: flex;

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;

    margin-left: -8px;
    margin-right: -8px;
}
	
.cards__item {
    /* There will be 4 cards per row */
    flex-basis: 25%;

    padding-left: 8px;
    padding-right: 8px;
}

.map {
	height: 45vh;
	width: 33vw;
}

.overlay {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
}

.overlay i {
	margin-right: 10px;
}

/*.overlay button {
    font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #3386c0;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}*/

/*.delivered {
	font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: rgb(27, 201, 125);
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  	width: 100%;
  	margin: 5px;
}*/
.delivered {
	font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
	width: 100%;
  	margin: 5px;
}
.delivered:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
.delivered:active {
	position:relative;
	top:1px;
}
/* .not_delivered {
	font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: rgb(203, 166, 19);
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  	width: 100%;
  	margin: 5px;
}*/

.not_delivered {
	font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
	width: 100%;
  	margin: 5px;
}
.not_delivered:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.not_delivered:active {
	position:relative;
	top:1px;
}


.stopped {
	font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	width: 100%;
  	margin: 5px;
}
.stopped:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.stopped:active {
	position:relative;
	top:1px;
}

.accident {
	font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	width: 100%;
  	margin: 5px;
}
.accident:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.accident:active {
	position:relative;
	top:1px;
}

.delivery_martker {
  background-image: url('delivering.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.delivered_martker {
  background-image: url('delivered.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.delivery_failure_martker {
  background-image: url('not_delivered.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.stopped_martker {
  background-image: url('stopped.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.accident_martker {
  background-image: url('accident.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.truck1_martker {
  background-image: url('truck1.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.truck2_martker {
  background-image: url('truck2.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.truck3_martker {
  background-image: url('truck3.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.truck4_martker {
  background-image: url('truck4.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.truck5_martker {
  background-image: url('truck5.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.truck6_martker {
  background-image: url('truck6.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.car_martker {
  background-image: url('car.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
/* .stopped {
	font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: rgb(216, 121, 7);
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
	width: 100%;
	margin: 5px;
}*/

 /*.accident {
	font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: rgb(213, 26, 18);
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
	width: 100%;
	margin: 5px;
}*/

/*.delivered:hover {
    background-color: rgb(107, 228, 153);
}
.not_delivered:hover {
    background-color: rgb(230, 196, 70);
}
.stopped:hover {
    background-color: rgb(229, 143, 53);
}
.accident:hover {
    background-color: rgb(233, 59, 43);
}*/